.errorMessage {
  color: red;
  font-size: 12px;
  letter-spacing: 0.05rem;
  padding-left: 0.25rem;
}

.colMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 800px;
  margin: 0 auto;
  text-overflow: ellipsis;
}

.lyricWrapper {
  padding-top: 0px;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 80px auto;
}

@media only screen and (max-width: 767px) {
  .lyricWrapper {
    padding-top: 50px;
  }
  .App {
    width: 100%;
  }
  .hero {
    width: unset;
    margin: 40px auto;
  }
}
